#output {
  display: none;
}
body {
  font-family: inherit;
  background-image: url("C:\Users\swhit\desktop\PizzaProject\img\spacepizza.gif");
}
h1 {
  font-size: 50px;
  background-image: url("C:\Users\swhit\desktop\PizzaProject\img\spacepizza.gif");
  background-position: center;
}
.jumbotron {
  font-size: 25px;
  font-style: oblique;
  color: red;
  font-weight: bold;
  background-color: #ffee88;
  background-image: url(...\img\cute-pizza-wallpaper-photo.jpg);
}
h1 {
  background-image: url("C:\Users\swhit\desktop\PizzaProject\img\spacepizza.gif")
}
h4 {
  display: none;
}

/*Space Pizza
https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjd16_Tt5vVAhULh1QKHda_D_0QjRwIBw&url=http%3A%2F%2Ftimmatic.com%2Fcute-pizza-wallpaper-photo%2Fcute-pizza-wallpaper-photo-for-hd-wallpaper-desktop%2F&psig=AFQjCNGAqeRURlpC0I_rnweOuUAf45u1kw&ust=1500762570343752*/
